{% load static %}
<div id="about" class="modal" role="dialog">
    <div class="modal-dialog" style="margin-top: 10px;">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-body">
            <center>
            <p>About Us</p><hr>
				<div class="[ row ]">
					<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
			            <div class="[ col-xs-4 col-sm-12 ]">
			                <!-- Nav tabs -->
			                <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
			                    <li role="presentation" class="active">
			                        <a href="#sourav" aria-controls="dustin" role="tab" data-toggle="tab">
			                            <img class="img-circle" src="https://avatars3.githubusercontent.com/u/11073943?v=3&s=460" />
			                            <span class="quote"><i class="fa fa-quote-left"></i></span>
			                        </a>
			                    </li>
			                    <li role="presentation" class="">
			                        <a href="#unknown1" aria-controls="daksh" role="tab" data-toggle="tab">
			                            <img class="img-circle" src="http://marlborofishandgame.com/images/6/6c/Question-mark.png" />
			                            <span class="quote"><i class="fa fa-quote-left"></i></span>
			                        </a>
			                    </li>
			                    <li role="presentation" class="">
			                        <a href="#unknown2" aria-controls="anna" role="tab" data-toggle="tab">
			                            <img class="img-circle" src="http://marlborofishandgame.com/images/6/6c/Question-mark.png" />
			                            <span class="quote"><i class="fa fa-quote-left"></i></span>
			                        </a>
			                    </li>
			                    <li role="presentation" class="">
			                        <a href="#rahul" aria-controls="wafer" role="tab" data-toggle="tab">
			                            <img class="img-circle" src="https://scontent.fccu1-1.fna.fbcdn.net/v/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg?oh=e660f04d48f2d013b66599b3762e75e4&oe=58D7E912" />
			                            <span class="quote"><i class="fa fa-quote-left"></i></span>
			                        </a>
			                    </li>
			                </ul>
			            </div>
			            <div class="[ col-xs-8 col-sm-12 ]">
			                <!-- Tab panes -->
			                <div class="tab-content" id="tabs-collapse">            
			                    <div role="tabpanel" class="tab-pane fade in active" id="sourav">
			                        <div class="tab-inner">                    
			                            <p class="lead">Project Maintainer at Oppia Foundation, Open Source Community Member at Duckduckgo.</p>
			                            <hr>
			                            <p><strong class="text-uppercase">Sourav Badami</strong></p>
			                            <p style="font-size: 12px;"><em class="text-capitalize">Founder and Software Developer</em> at <a href="#">MyCleanIndia</a></p>                 
			                        </div>
			                    </div>
			                    
			                    <div role="tabpanel" class="tab-pane fade" id="unknown1">
			                        <div class="tab-inner">
			                            <p class="lead">It'll depend on you. Would you like to change the text here? Read the end of this modal.</p>
			                            <hr>
			                            <p><strong class="text-uppercase">Unknown</strong></p>
			                            <p style="font-size: 12px;"><em class="text-capitalize"> Android Developer</em> at <a href="#">MyCleanIndia</a></p>
			                        </div>
			                    </div>
			                    
			                    <div role="tabpanel" class="tab-pane fade" id="unknown2">
			                        <div class="tab-inner">
			                            <p class="lead">It'll depend on you. Would you like to change the text here? Read the end of this modal.</p>
			                            <hr>
			                            <p><strong class="text-uppercase">Unknown</strong></p>
			                            <p style="font-size: 12px;"><em class="text-capitalize"> iOS Developer</em> at <a href="#">MyCleanIndia</a></p>
			                        </div> 
			                    </div>
			                    
			                    <div role="tabpanel" class="tab-pane fade" id="rahul">
			                        <div class="tab-inner">
			                            <p class="lead">He prefers to keep this place vacant. But I can assure you that he's not shy ;)</p>
			                            <hr>
			                            <p><strong class="text-uppercase">Rahul Lama</strong></p>
			                            <p style="font-size: 12px;"><em class="text-capitalize">Software Developer</em> at <a href="#">MyCleanIndia</a></p>
			                        </div>
			                    </div>
			                </div>
			            </div>        
			        </div>
				</div>
		    <hr>
		    <p style="font-size: 11px;">Want to be a part of our team and contribute your skills in building a cleaner and healthier nation ? Send us an <a href="mailto:souravbadami@gmail.com" style="text-decoration:none">email</a> and we can get in touch. We really want to fill up the unknown position.</p>
            </center>
            </div>
        </div>
    </div>
</div>