{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>SwachhBharat &mdash; MyCleanIndia &mdash; Track India's Cleanliness Status.</title>
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/mycleanindia.css" %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/KUsOXVu.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Pacifico" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="{% static "js/mycleanindia.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCuQIy--5VEl2RIKInO9kj7BLt86gCAV-o&libraries=places"></script> 
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>        
        <script type="text/javascript" src="https://raw.githubusercontent.com/mycleanindia/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>
        {% include "app/scripts-head.html" %}
    </head>
    <body>
        <div id="cardContainer" class="container">
            <div class="row">
                <div class="col-md-8 gmap">
                    <div id="google_map"></div>
                </div>
                <div id="feedBox" class="col-md-4 feeds">
                </div>
            </div>
        </div>

        {% include "app/navigation.html" %}
        {% include "app/donate.html" %}
        {% include "app/help.html" %}
        {% include "app/stats.html" %}
        {% include "app/myaccount.html" %}
        {% include "app/dashboard.html" %}
        {% include "app/contact.html" %}
        {% include "app/about.html" %}
        {% include "app/scripts-body.html" %}
        {% include "app/footer.html" %}

    </body>
</html>
