{% load static %}
<div id="contact" class="modal" role="dialog">
    <div class="modal-dialog" style="margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-body">
            <center>
            <p>Contact Us</p><hr>
            <p><b>Sourav Badami</b><br>Email: <a href="mailto:souravbadami@gmail.com">souravbadami@gmail.com</a><br>Mobile: +91 829 342 4664<br>Blog: <a href="http://www.souravbadami.me">www.souravbadami.me</a></p><hr>
            <a style="padding-right:3px;" href="http://www.facebook.com/souravbadami" target="_blank">
                <img height="35px" width="35px" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
            </a>
            <a style="padding-right:3px;" href="https://plus.google.com/souravbadami" target="_blank">
                <img height="35px" width="35px" src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google+" />
            </a>
            <a style="padding-right:3px;" href="https://in.linkedin.com/in/souravbadami" target="_blank">
                <img height="35px" width="35px" src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="Linkedin" />
            </a>
            <a style="padding-right:3px;" href="https://twitter.com/badamisourav" target="_blank">
                <img height="35px" width="35px" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            </a>
            </center>
            </div>
        </div>
    </div>
</div>