{% load static %}
<div id="donate" class="modal" role="dialog">
    <div class="modal-dialog" style="margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-body">
            <center>
            <p>Donate to <a style="color: #c12267;font-family: 'Pacifico', cursive; text-decoration:none" href="#"><img src="https://i.imgur.com/KUsOXVu.png" style="height:25px;width:25px; display:inline; margin-top:0px;"> mycleanindia</a></p><hr>
            <img src="{% static "images/1482833330444.jpg" %}" width="250px" height="250px">
            <img src="{% static "images/paytmlogo.png" %}" style="margin-top: -40px;"><hr>
            <p style="font-size: 11px;">The donation we recieve is used for
            managing servers, marketing and making people aware of our initiative 
            to make India a cleaner and greener place.</p>
            </center>
            </div>
        </div>
    </div>
</div>