<footer class="footer">
    <div class="container">
        <p class="pull-left">MyCleanIndia Authors © 2016</p>
        <p class="pull-right">
            <a style="color:#c12267; outline:none;" data-toggle="modal" href="#about">About</a> · 
            <a style="color:#c12267; outline:none;" data-toggle="modal" href="#donate">Donate</a> · 
            <a style="color:#c12267; outline:none;" href="https://github.com/mycleanindia" target="_blank">Source</a> · 
            <a style="color:#c12267; outline:none;" data-toggle="modal" href="#contact">Contact</a>
        </p>
    </div>
</footer>