{% load static %}
<div id="help" class="modal" role="dialog">
    <div class="modal-dialog" style="margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-body">
            <center>
            <p>How To Use ?</p><hr>
            </center>
            <ul>It is as simply as sending a text message. Just follow the four easy steps given below and help our country in the most effective way.</ul>
            <ul>
                <li>Log into your account by simple clicking on <b>Sign in</b> button on the top right of your screen.</li>
                <li>Search for the place which you would like to report for.</li>
                <li>Right click on the place and drop a status marker and select the cleanliness condition.</li>
                <li>Save the status!</li>
            </ul> 
            <ul>Now wasn't that a piece of cake ? Tell your friends and family too and contribute your few seconds to the nation.</ul>
            <center>
                <a style="padding-right:3px;" href="http://www.facebook.com/sharer.php?u=https://mycleanindia.herokuapp.com/" target="_blank">
                    <img height="25px" width="25px" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
                <a style="padding-right:3px;" href="https://plus.google.com/share?url=https://mycleanindia.herokuapp.com/" target="_blank">
                    <img height="25px" width="25px" src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google+" />
                </a>
                <a style="padding-right:3px;" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://mycleanindia.herokuapp.com/" target="_blank">
                    <img height="25px" width="25px" src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="Linkedin" />
                </a>
                <a style="padding-right:3px;" href="https://twitter.com/share?url=https://mycleanindia.herokuapp.com/" target="_blank">
                    <img height="25px" width="25px" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
            </center>
            </div>
        </div>
    </div>
</div>