{% load static %}
<div id="myAccount" class="modal" role="dialog">
  <div class="modal-dialog" style="margin-top: 10px;">

    <div class="modal-content">
        <div class="modal-body">
            <center>
            <a style="font-family: 'Pacifico', cursive; text-decoration:none; color: #c12267" href="#"><img src="https://i.imgur.com/KUsOXVu.png" style="height:25px;width:25px; display:inline; margin-top:0px;"> mycleanindia</a><hr>
            <p>
                <a class="btn btn-primary social-login-btn social-facebook" href="/login/facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-primary social-login-btn social-twitter" href="/login/twitter"><i class="fa fa-twitter"></i></a>
                </p>
                <p>
                <a class="btn btn-primary social-login-btn social-linkedin" href="/login/linkedin-oauth2"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-primary social-login-btn social-google" href="/login/google-oauth2"><i class="fa fa-google-plus"></i></a>
            </p>
            <p style="font-size: 11px;">Sign in using any of the services listed above and start taking care of your place.<br>Having some concern with your privacy ? Send us an <a href="mailto:souravbadami@gmail.com" style="text-decoration:none">email</a>.</p>
            </center>
      </div>
    </div>

  </div>
</div>