{% load static %}
<div id="stats" class="modal" role="dialog">
    <div class="modal-dialog" style="margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-body">
            <center>
            <p>Report Count Statistics</p><hr>
            <canvas id="allStats"></canvas>
            <hr>
            <p style="font-size: 11px;">Refresh the map canvas to view latest all time report count.</p>
            </center>
            </div>
        </div>
    </div>
</div>  